body {
	background-color: #000000;
	color: #fff;
	font-family: 'Courier New', Courier, monospace;
	font-size: medium;
}

.flex-grow {
	flex: 1;
	min-width: 0;
}
.hide-collapse{
	visibility: collapse;
}

:root {
	--gray1: #111;
	--gray2: #222;
	--gray3: #333;
	--gray4: #444;
	--gray5: #555;
	--gray6: #666;
	--gray7: #777;
}